.ToTalWrap{
    
    height:56px;
    
    .ToTal{
        text-align: right;
        padding:2% 1% ;
        margin:0;
        background:#000;
        color:#fff;        
        box-sizing: border-box;        
        position: fixed;    
        width:512px;
        height: 56px;
        box-sizing: border-box;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .date{
            text-align: left;
            p{
                color:#fff;
                margin:0;
                font-style: italic;
            }
        }
        p{
            span{
                color: red;
                font-weight: bold;
            }
        }
        
    }

}

